<div class="hero-foot footer-custom" style="background-color:whitesmoke;">
    <div class="container">
        <div class="content has-text-centered" style="margin-top: 2%;">
            <b>Academic project 2020-21 </b> <br>
            <p> <i>This application is an academic project made by the student. It has been made for web
                    development learning. And it has nothing to do with real time.</i> </p>
        </div>
        <div class="nav-center" style="margin-bottom: 10px;">
            &emsp; &emsp; &emsp; &emsp; <a href="termsandcondition.html"> Terms and Conditions</a>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            &emsp; &emsp;<b>Follow on</b> &nbsp;
            <a href="https://www.instagram.com/_.__e.m.p.e.r.o.r__._/" class="nav-item" target="blank">
                <span class="icon">
                    <i class="fab fa-instagram fa-lg"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/imad-sab/" class="nav-item" target="blank">
                <span class="icon">
                    <i class="fab fa-linkedin-in fa-lg"></i>
                </span>
            </a>
            <a class="nav-item">
                <span class="icon">
                    <i class="fab fa-facebook fa-lg"></i>
                </span>
            </a>
            <a class="nav-item">
                <span class="icon">
                    <i class="fab fa-twitter fa-lg"></i>
                </span>
            </a><br>
            &emsp; &emsp; &emsp; &emsp; <a href="services.html">Services</a>
        </div>
    </div>
</div>
