<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    </head>

    <body> -->

<div class="hero-foot footer-custom" style="background-color:whitesmoke;">
    <div class="container">
        <div class="content has-text-centered" style="margin-top: 2%;">
            <b>Academic project 2020-21 </b> <br>
            <p> <i>This application is an academic project made by the student. It has been made for web
                    development learning. And it has nothing to do with real time.</i> </p>
        </div>
        <div class="nav-center" style="margin-bottom: 10px;">
            &emsp; &emsp; &emsp; &emsp; <a href="termsandcondition.html"> Terms and Conditions</a>
            &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp;&emsp; &emsp;
            &emsp; &emsp;<b>Follow on</b> &nbsp;
            <a href="https://www.instagram.com/_.__e.m.p.e.r.o.r__._/" class="nav-item" target="blank">
                <span class="icon">
                    <i class="fab fa-instagram fa-lg"></i>
                </span>
            </a>
            <a href="https://www.linkedin.com/in/imad-sab/" class="nav-item" target="blank">
                <span class="icon">
                    <i class="fab fa-linkedin-in fa-lg"></i>
                </span>
            </a>
            <a class="nav-item">
                <span class="icon">
                    <i class="fab fa-facebook fa-lg"></i>
                </span>
            </a>
            <a class="nav-item">
                <span class="icon">
                    <i class="fab fa-twitter fa-lg"></i>
                </span>
            </a><br>
            &emsp; &emsp; &emsp; &emsp; <a href="services.html">Services</a>
        </div>
    </div>
</div>
<!-- </body>

</html> -->
