<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <title></title>
    </head> -->

<!-- <body> -->
<nav class="navbar has-shadow is-white is-fixed-top">
    <div class="navbar-brand py-4 px-2" style="margin-left: 40px;max-height : 60px">
        <a class="navbar-brand">
            <span class="icon is-brand" alt="brand">
                <i class="fas fa-globe fa-3x"></i>
            </span> &nbsp; &nbsp; &nbsp; VHost
        </a>
        <a class="navbar-burger is-black" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu" id=nav-links>
        <div class="navbar-start" style="margin-left: 100px;">
            <a href="../index.php" class="navbar-item">
                <span class="icon is-small">
                    <i class="fas fa-home"></i>
                </span> &nbsp; Home</a>

            <a href="../templates/about.php" class="navbar-item">
                <span class="icon is-small">
                    <i class="fas fa-address-card"></i>
                </span> &nbsp; About</a>

            <a href="./contactus.php" class="navbar-item">
                <span class="icon is-small">
                    <i class="fas fa-paper-plane"></i>
                </span> &nbsp; Contact us</a>
            <a href="./purchase.php" class="navbar-item">
                <span class="icon is-small">
                    <i class="fas fa-money-bill-alt"></i>
                </span> &nbsp; purchase </a>

        </div>

        <div class="navbar-end" style="margin-right: 80px;">
            <a href="#" class="navbar-item modal-button" id="signup" data-target="#modal" aria-haspopup="true">Sign in
                &nbsp;<span class="icon is-small"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>
            </a>
        </div>
        <!-- <div class="navbar-end" style="margin-right: 80px;">
                <a href="index.php" class="navbar-item modal-button" id="logout">Logout &nbsp;<span class="icon is-small"><i class="fas fa-blind" aria-hidden="true"></i></span>
                </a>
            </div> -->
    </div>

</nav>
<!-- NAVBAR ENDS HERE -->

<!-- LOGIN AND REGISTRATION FORM -->
<section class="section">
    <div class="container">
        <div id="modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="tabs is-centered">
                                <ul>
                                    <li class="is-active" id="activeIdOne">
                                        <a data-select="one" id="one" href="javascript:void(0)">
                                            <span class="icon is-small"><i class="fas fa-user-plus"
                                                    aria-hidden="true"></i></span>
                                            <span>Login</span>
                                        </a>
                                    </li>
                                    <li id="activeIdTwo">
                                        <a data-select="two" id="two" href="javascript:void(0)">
                                            <span class="icon is-small"><i class="fas fa-sign-in-alt"
                                                    aria-hidden="true"></i></span>
                                            <span>Register</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <form action="" method="post">
                                <div class="login" id="tabs1">
                                    <div class="field">
                                        <label class="label">Username</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input name="user" class="input grey-darker" type="text"
                                                placeholder="Username" required>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Password</label>
                                        <p class="control has-icons-left">
                                            <input name="psw" class="input" type="password" placeholder="Password"
                                                required>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                    <div class="field">
                                        <div class="control mt-5">
                                            <input name="login" class="button is-success is-fullwidth" type="submit"
                                                value="Login"></input>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form method="post" action="">
                                <div class="register is-hidden" id="tabs2">
                                    <!-- <div class="field">
                                            <label class="label">Name</label>
                                            <div class="control">
                                                <input name="name" class="input" type="text" placeholder="Text input">
                                            </div>
                                        </div> -->
                                    <div class="field">
                                        <label class="label">Username</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input name="user" class="input" type="text" placeholder="Username"
                                                required>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Password</label>
                                        <p class="control has-icons-left">
                                            <input name="pass" class="input" type="password" placeholder="Password"
                                                required>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label class="label">Confirm Password</label>
                                        <p class="control has-icons-left">
                                            <input class="input" type="password" name="pass2"
                                                placeholder="Confirm Password">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label class="label">Email</label>
                                        <div class="control has-icons-left has-icons-right">
                                            <input name="email" class="input" type="email" placeholder="Email" required>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control mt-5 ml-6">
                                            <input name="signup" class="button is-link ml-4" type="submit"
                                                style="width: 70%;" value="Signup"></input>

                                            <button class="button is-danger is-outlined ml-3" type="reset">Clear
                                                inputs</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</section>


<!-- java script -->

<script>

    //mobile menu
    const burgerIcon = document.querySelector('#burger');
    const navbarMenu = document.querySelector('#nav-links');

    burgerIcon.addEventListener('click', () => {
        navbarMenu.classList.toggle('is-active');
    });

    //login modal 
    $(".modal-button").click(function () {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $(".modal-close").click(function () {
        $("html").removeClass("is-clipped");
        $(this).parent().removeClass("is-active");
    });

    document.getElementById("one").onclick = function () {
        showTab(this)
    };
    document.getElementById("two").onclick = function () {
        showTab(this)
    };

    function showTab(e) {
        let selectType = $(e).attr("data-select");

        console.log(selectType);
        if (selectType == 'one') {
            $("#tabs2").addClass('is-hidden');
            $("#tabs1").removeClass('is-hidden');
            $('#activeIdOne').addClass('is-active');
            $("#activeIdTwo").removeClass('is-active');

        } else if (selectType == 'two') {

            $("#tabs1").addClass('is-hidden');
            $("#tabs2").removeClass('is-hidden');

            $('#activeIdOne').removeClass('is-active');
            $("#activeIdTwo").addClass('is-active');
        }
    }
</script>

<!-- </body>

</html> -->
