{% extends 'base.html' %}
{%load static%}
{% block content %}

<section class="hero is-medium has-bacground-grey-lighter" style="margin-top: 4%;">

    <div class="container" style=" margin-top: 5%;">
        <div class="columns mt-5 is-8 is-variable is-centered">
            <div class="column is-4-tablet is-mobile is-6-desktop">
                <figure class="image is-fullwidth">
                    <img src="{% static 'images/employee-development.jpg' %}">
                </figure>
            </div>
            <div class=" column is-4-tablet is-mobile is-6-desktop" style=" margin-top: 3%;">
                <h1 class="title is-1 is-spaced has-text-centered"
                    style="font-family: 'Times New Roman', Times, serif;"> HIGH
                    VALUES
                </h1>
                <h5 class="subtitle is-5" style="font-family:Georgia, serif; font-style:oblique;">
                    Our success is not only due to the quality of our work; it's down to attitude, our approach
                    and the way we treat to others.
                </h5>
            </div>
        </div>
    </div>
</section>

<section class="hero is-medium has-bacground-grey-lighter" style="margin-top: 5%;">

    <div class=" container" style=" margin-top: 5%;">
        <hr />
        <div class="columns mt-5 is-8 is-variable is-centered">
            <div class=" column is-4-tablet is-mobile is-6-desktop" style=" margin-top: 3%;">
                <div>
                    <h2 class="title is-1 is-spaced has-text-centered"
                        style="font-family: 'Times New Roman', Times, serif; color:red;">
                        FOCUSED
                    </h2>
                    <h5 class="subtitle is-5" style="font-family:Georgia, serif; font-style:oblique;">
                        We have a 100% commitment to making all our sites the best they can possibly be, no
                        matter what it takes to get there.
                    </h5>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="column is-4-tablet is-mobile is-6-desktop">

                <span class="icon" style="padding-left: 50%;margin-top:20%;color: red;font-size: 24px;">
                    <i class="fas fa-eye fa-10x"></i>
                </span>
            </div>

        </div>
    </div>
    <div class=" container" style=" margin-top: 5%;">
        <hr />
        <div class="columns mt-5 is-8 is-variable is-centered">
            <div class="column is-4-tablet is-mobile is-6-desktop">
                <span class="icon" style="padding-left: 50%;margin-top:20%;color: red;font-size: 24px;">
                    <i class="fas fa-chart-line fa-10x"></i>
                </span>
            </div>
            <div class=" column is-4-tablet is-mobile is-6-desktop" style=" margin-top: 3%;">
                <div>
                    <h2 class="title is-1 is-spaced has-text-centered"
                        style="font-family: 'Times New Roman', Times, serif; color:red;">
                        PASSION
                    </h2>
                    <h5 class="subtitle is-5" style="font-family:Georgia, serif; font-style:oblique;">
                        Our desire to produce good work runs deep – that’s what lets us handle every project
                        with fresh energy and enthusiasm.
                    </h5>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-medium has-bacground-grey-lighter" style="margin-top: 5%;">

    <div class=" container" style=" margin-top: 3%;">
        <hr />
        <div class="columns mt-5 is-8 is-variable is-centered">
            <div class=" column is-4-tablet is-mobile is-6-desktop" style=" margin-top: 3%;">
                <div>
                    <h2 class="title is-1 is-spaced has-text-centered"
                        style="font-family: 'Times New Roman', Times, serif; color:red;">
                        EMPATHY
                    </h2>
                    <h5 class="subtitle is-5" style="font-family:Georgia, serif; font-style:oblique;">
                        While we share our knowledge and experience, we listen hard to understand your business
                        and your needs.
                    </h5>
                </div>
                <div class="content">

                </div>
            </div>
            <div class="column is-4-tablet is-mobile is-6-desktop">
                <span class="icon" style="padding-left: 50%;margin-top:20%;color: red;font-size: 24px;">
                    <i class="far fa-heart fa-10x"></i>
                </span>
            </div>

        </div>
    </div>
    <div class=" container" style=" margin-top: 3%;">
        <hr />
        <div class="columns mt-5 is-8 is-variable is-centered">
            <div class="column is-4-tablet is-mobile is-6-desktop is-centered">
                <span class="icon" style="padding-left: 50%;margin-top:20%;color:red;font-size:24px">
                    <i class="fas fa-users fa-10x"></i>
                </span>
            </div>
            <div class=" column is-4-tablet is-mobile is-6-desktop" style=" margin-top: 3%;">
                <div>
                    <h2 class="title is-1 is-spaced has-text-centered"
                        style="font-family: 'Times New Roman', Times, serif; color:red;">
                        TEAMWORK
                    </h2>
                    <h5 class="subtitle is-5" style="font-family:Georgia, serif; font-style:oblique;">
                        We are united with you in the drive to get the best from your project – think of us as
                        extra members of your team with all the skills you need.
                    </h5>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
